*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.vim/

dist/
*.egg-info/

.DS_Store

.mypy_cache/

variation/data/seqrepo/
variation/data/uta_20180821
variation/data/notebooks
variation/data/*.txt

Pipfile.lock

.python-version

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Zip
*.zip

build/
dynamodb_local_latest/

*.http
