*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.vim/

dist/
*.egg-info/

.DS_Store

.mypy_cache/


variant/data/seqrepo/
variant/data/uta_20180821/
variant/data/notebooks
variant/data/*.txt

Pipfile.lock

.python-version

pyproject.toml

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Zip
*.zip

build/