*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/
.vim/

dist/
*.egg-info/

.DS_Store

.mypy_cache/


varlexapp/data/seqrepo/
varlexapp/data/uta_20180821/
varlexapp/data/notebooks

.idea/

Pipfile.lock

.python-version
