[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pre-commit = "*"
variation-normalizer = {editable = true, path = "."}
jupyter = "*"
ipykernel = "*"
psycopg2-binary = "*"
ruff = "*"
black = "*"

[packages]
"biocommons.seqrepo" = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "==2.1.1"
"ga4gh.vrs" = {editable = true, path = "ga4gh/vrs-python"}
gene-normalizer = {editable = true, path = "cancervariants/gene-normalization"}
boto3 = "*"
cool-seq-tool = {editable = true, path = "genomic_med_lab/cool-seq-tool"}
bioutils = "*"
