[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
jupyterlab = "*"
pytest-cov = "*"
flake8 = "*"
coveralls = "*"
coverage = "*"
flake8-docstrings = "*"
pre-commit = "*"
variant-normalization = {editable = true, path = "."}
pyyaml = "*"
jupyter = "*"
ipykernel = "*"
twine = "*"
matplotlib = "*"

[packages]
hgvs = "*"
lxml = "*"
requests = "*"
typing-extensions = "*"
websockets = "*"
"biocommons.seqrepo" = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
uvloop = "*"
httptools = "*"
"ga4gh.vrs" = {version = "==0.7.0rc3", extras = ["extras"]}
gene-normalizer = "*"
