[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pre-commit = "*"
variation-normalizer = {editable = true, path = "."}
jupyter = "*"
ipykernel = "*"
psycopg2-binary = "*"
ruff = "*"
black = "*"

[packages]
"biocommons.seqrepo" = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "==1.*"
"ga4gh.vrs" = {version = "~=0.8.1", extras = ["extras"]}
gene-normalizer = "~=0.1.36"
boto3 = "*"
"ga4gh.vrsatile.pydantic" = "~=0.0.13"
cool-seq-tool = "~=0.1.14.dev0"
