-i https://pypi.org/simple
aiofiles==0.8.0
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.3
argcomplete==2.0.0
argh==0.26.2
asttokens==2.0.8
asyncpg==0.26.0
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
biocommons.seqrepo==0.6.5
bioutils==0.5.7
boto3==1.24.58
botocore==1.27.58
bs4==0.0.1
canonicaljson==1.6.2
certifi==2022.6.15
charset-normalizer==2.1.1
click==8.1.3
coloredlogs==15.0.1
configparser==5.3.0
cssselect==1.1.0
decorator==5.1.1
executing==0.10.0
fake-useragent==0.1.11
fastapi==0.80.0
ga4gh.vrs[extras]==0.8.6.dev0
ga4gh.vrsatile.pydantic==0.1.dev1
gene-normalizer==0.2.0
gffutils==0.11.0
h11==0.13.0
hgvs==1.5.2
humanfriendly==10.0
idna==3.3
importlib-metadata==4.12.0
inflection==0.5.1
ipython==8.4.0
jedi==0.18.1
jmespath==1.0.1
jsonschema==3.2.0
lxml==4.9.1
markdown==3.4.1
matplotlib-inline==0.1.6
numpy==1.23.2
pandas==1.4.3
parse==1.19.0
parsley==1.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.30
psycopg2==2.9.3
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==1.9.2
pyee==8.2.2
pyfaidx==0.7.1
pygments==2.13.0
pyliftover==0.4
pyppeteer==1.0.2
pyquery==1.4.3
pyrsistent==0.18.1
pysam==0.19.1
python-dateutil==2.8.2
python-jsonschema-objects==0.4.1
pytz==2022.2.1
pyyaml==6.0
requests==2.28.1
requests-html==0.10.0
s3transfer==0.6.0
setuptools==65.3.0
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
stack-data==0.4.0
starlette==0.19.1
tabulate==0.8.10
tqdm==4.64.0
traitlets==5.3.0
typing-extensions==4.3.0
urllib3==1.26.12
uta-tools==0.1.2
uvicorn==0.18.3
w3lib==2.0.1
wcwidth==0.2.5
websockets==10.3
yoyo-migrations==7.3.2
zipp==3.8.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
babel==2.10.3
bleach==5.0.1
cffi==1.15.1
cfgv==3.3.1
commonmark==0.9.1
coverage==6.4.4
coveralls==3.3.1
cycler==0.11.0
debugpy==1.6.3
defusedxml==0.7.1
distlib==0.3.5
docopt==0.6.2
docutils==0.19
entrypoints==0.4
fastjsonschema==2.16.1
filelock==3.8.0
flake8==5.0.4
flake8-annotations==2.9.1
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.1
fonttools==4.37.0
identify==2.5.3
iniconfig==1.1.1
ipykernel==6.15.1
ipython-genutils==0.2.0
ipywidgets==8.0.1
jinja2==3.1.2
json5==0.9.10
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyterlab==3.4.5
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.1
jupyterlab-widgets==3.0.2
keyring==23.8.2
kiwisolver==1.4.4
markupsafe==2.1.1
matplotlib==3.5.3
mccabe==0.7.0
mistune==2.0.4
nbclassic==0.4.3
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
nodeenv==1.7.0
notebook==6.4.12
notebook-shim==0.1.0
packaging==21.3
pandocfilters==1.5.0
pillow==9.2.0
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.20.0
prometheus-client==0.14.1
psutil==5.9.1
py==1.11.0
pycodestyle==2.9.1
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.5.0
pyparsing==3.0.9
pytest==7.1.2
pytest-asyncio==0.19.0
pytest-cov==3.0.0
pyzmq==23.2.1
qtconsole==5.3.1
qtpy==2.2.0
readme-renderer==37.0
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.5.1
send2trash==1.8.0
snowballstemmer==2.2.0
terminado==0.15.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tornado==6.2
twine==4.0.1
-e .
virtualenv==20.16.3
webencodings==0.5.1
websocket-client==1.3.3
widgetsnbextension==4.0.2
