-i https://pypi.org/simple
aiofiles==0.8.0
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.3
argcomplete==2.0.0
argh==0.26.2
asttokens==2.0.8
asyncpg==0.26.0
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
biocommons.seqrepo==0.6.5
bioutils==0.5.7
boto3==1.24.58
botocore==1.27.58
bs4==0.0.1
canonicaljson==1.6.2
certifi==2022.6.15
charset-normalizer==2.1.1
click==8.1.3
coloredlogs==15.0.1
configparser==5.3.0
cssselect==1.1.0
decorator==5.1.1
executing==0.10.0
fake-useragent==0.1.11
fastapi==0.80.0
ga4gh.vrs[extras]==0.8.6.dev0
ga4gh.vrsatile.pydantic==0.1.dev1
gene-normalizer==0.2.0
gffutils==0.11.0
h11==0.13.0
hgvs==1.5.2
humanfriendly==10.0
idna==3.3
importlib-metadata==4.12.0
inflection==0.5.1
ipython==8.4.0
jedi==0.18.1
jmespath==1.0.1
jsonschema==3.2.0
lxml==4.9.1
markdown==3.4.1
matplotlib-inline==0.1.6
numpy==1.23.2
pandas==1.4.3
parse==1.19.0
parsley==1.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.30
psycopg2==2.9.3
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==1.9.2
pyee==8.2.2
pyfaidx==0.7.1
pygments==2.13.0
pyliftover==0.4
pyppeteer==1.0.2
pyquery==1.4.3
pyrsistent==0.18.1
pysam==0.19.1
python-dateutil==2.8.2
python-jsonschema-objects==0.4.1
pytz==2022.2.1
pyyaml==6.0
requests==2.28.1
requests-html==0.10.0
s3transfer==0.6.0
setuptools==65.3.0
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
stack-data==0.4.0
starlette==0.19.1
tabulate==0.8.10
tqdm==4.64.0
traitlets==5.3.0
typing-extensions==4.3.0
urllib3==1.26.12
uta-tools==0.1.2
uvicorn==0.18.3
w3lib==2.0.1
wcwidth==0.2.5
websockets==10.3
yoyo-migrations==7.3.2
zipp==3.8.1
