container_commands:
    01_export_eb_env_var:
        test: test ! -d "./variation/data/seqrepo"
        command: "export $(cat /opt/elasticbeanstalk/deployment/env | xargs)"

    02_install_awscli:
        command: "yum install -y awscli"

    03_install_unzip:
        test: test ! -d "./variation/data/seqrepo"
        command: "yum install -y unzip"

    05_refseq_gene_symbol_download:
        test: test ! -f "./variation/data/refseq_gene_symbols.txt"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/variation/refseq_gene_symbols.txt ./variation/data/refseq_gene_symbols.txt --region us-east-2"

    06_mane_grch38_refseq_download:
        test: test ! -f "./variation/data/MANE.GRCh38.v0.93.summary.txt"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/variation/MANE.GRCh38.v0.93.summary.txt ./variation/data/MANE.GRCh38.v0.93.summary.txt --region us-east-2"

    07_s3_download:
        test: test ! -d "./variation/data/seqrepo"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/${AWS_SEQREPO_OBJECT} ./variation/data/seqrepo.zip --region us-east-2"

    08_unzip_seqrepo:
        test: test -f "./variation/data/seqrepo.zip"
        command: "unzip ./variation/data/seqrepo.zip -d ./variation/data"

    09_seqrepo_permission:
        test: test -d "./variation/data/seqrepo"
        command: "chmod -R 777 ./variation/data/seqrepo"

    10_macosx_permission:
        test: test -d "./variation/data/__MACOSX"
        command: "chmod -R +wr ./variation/data/__MACOSX"

    11_seqrepo_zip_permission:
        test: test -f "./variation/data/seqrepo.zip"
        command: "chmod +wr ./variation/data/seqrepo.zip"

    12_remove_macosx:
        test: test -d "./variation/data/__MACOSX"
        command: "rm -R ./variation/data/__MACOSX"

    13_remove_seqrepo_zip:
        test: test -f "./variation/data/seqrepo.zip"
        command: "rm ./variation/data/seqrepo.zip"

    14_data_permission:
        test: test -d "./variation/data"
        command: "chmod -R +wrx ./variation/data"
