container_commands:
    01_export_eb_env_var:
        test: test ! -d "./variant/data/seqrepo"
        command: "export $(cat /opt/elasticbeanstalk/deployment/env | xargs)"

    02_install_awscli:
        test: test ! -d "./variant/data/seqrepo"
        command: "yum install -y awscli"

    03_install_unzip:
        test: test ! -d "./variant/data/seqrepo"
        command: "yum install -y unzip"

    04_hgnc_gene_symbol_download:
        test: test ! -f "./variant/data/hgnc_gene_symbols.txt"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/variant/hgnc_gene_symbols.txt ./variant/data/hgnc_gene_symbols.txt --region us-east-2"


    05_refseq_gene_symbol_download:
        test: test ! -f "./variant/data/refseq_gene_symbols.txt"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/variant/refseq_gene_symbols.txt ./variant/data/refseq_gene_symbols.txt --region us-east-2"

    05_s3_download:
        test: test ! -d "./variant/data/seqrepo"
        command: "aws s3 cp s3://${AWS_BUCKET_NAME}/${AWS_SEQREPO_OBJECT} ./variant/data/seqrepo.zip --region us-east-2"

    06_unzip_seqrepo:
        test: test -f "./variant/data/seqrepo.zip"
        command: "unzip ./variant/data/seqrepo.zip -d ./variant/data"

    07_seqrepo_permission:
        test: test -d "./variant/data/seqrepo"
        command: "chmod -R 777 ./variant/data/seqrepo"

    08_macosx_permission:
        test: test -d "./variant/data/__MACOSX"
        command: "chmod -R +wr ./variant/data/__MACOSX"

    09_seqrepo_zip_permission:
        test: test -f "./variant/data/seqrepo.zip"
        command: "chmod +wr ./variant/data/seqrepo.zip"

    10_remove_macosx:
        test: test -d "./variant/data/__MACOSX"
        command: "rm -R ./variant/data/__MACOSX"

    11_remove_seqrepo_zip:
        test: test -f "./variant/data/seqrepo.zip"
        command: "rm ./variant/data/seqrepo.zip"

    12_data_permission:
        test: test -d "./variant/data"
        command: "chmod -R +wrx ./variant/data"
