container_commands:
    00_hgnc:
        test: test ! -f "./variant/data/hgnc_gene_symbols.txt"
        command: "curl ftp://ftp.ebi.ac.uk/pub/databases/genenames/new/tsv/hgnc_complete_set.txt > ./variant/data/hgnc_gene_symbols.txt"

    01_refseq:
        test: test ! -f "./variant/data/refseq_gene_symbols.txt"
        command: "curl ftp://ftp.ncbi.nih.gov/refseq/H_sapiens/RefSeqGene/LRG_RefSeqGene > ./variant/data/refseq_gene_symbols.txt"